.footer_video{
    position: fixed;
    height: 310px;
    width: 400px;
    background-color: white;  
    z-index: 1;
    right: 0;
    bottom: 0;
    margin-right: 20px;
}
.youtube_player{
    max-width: 400px;
    max-height: 250px;
}
.video_title{
    margin-top: 10px;
    margin-left: 15px;
    color: black;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
   -webkit-box-orient: vertical;
}
.artist{
    margin: 10px 10px 0px 15px;
    color: #505050;
    font-size: 12px;
}