
.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: white;
  /* background-image: linear-gradient(to right,#1D1120,#1F1323); */
  padding: 20px;
  border-radius: 25px;
}
.footer__right * .MuiSlider-root {
  color: #2C32C8;
}
.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: black;
  width: 300px;
}
.footer__albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}
.footer__black{
  color: black;
}
.footer__blue{
  color: blue;
}
.footer__songInfo > h4 {
  margin-bottom: 5px;
}

.footer__songInfo > p {
  font-size: 12px;
}
.footer__center {
  flex: 0.4;
  padding: 0 100px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer__right {
  flex: 0.3;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}