.header{
    display: flex;
    margin-top: 10px;
    width: 100%;
}
.header_left{
    flex:0.13;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.website_logo{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.header_center{
    flex:0.6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_bar{
    width: 90%;
    height:40px;  
    border-radius: 40px;
    border:2px solid white;
    display: flex;
    justify-content: start;
    align-items: center;  
}
.search_icon{
    margin:0 15px 0 15px;
}
.search_text{
    width: 90%;
    background: transparent;
    border:0px ;
    color: white;
}
.search_text:focus{
    outline: none;
}
.search_text::placeholder{
    color: whitesmoke;
}
.mic{
    cursor: pointer;
}
.header_right{
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
h4{
    margin-right: 20px  ;
}
.profile_pic{
    height:40px;
    width: 40px;
    border-radius: 100px;
    margin-right: 20px;
    cursor: pointer;
}
h1{
  
    margin-right: 30px;
}
.updateimg{
    
    width: 100px;
    height:100px;
    border-radius: 50%;
}
.update_image{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 300px;
}
.commands_option{
    height: 50px;
    width: 50px;
    right: 1%;
    position: fixed;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    bottom: 70%;
    cursor: pointer;
}
.commands{
    height: 300px;
    width: 200px;
    right: 0;
    bottom: 30%;
    position: fixed;
    z-index: 1;
    background-color: white;
    border-radius: 10%;
    overflow:auto
}
.commands::-webkit-scrollbar {
    display: none;
}
h5{
    color: black;
    margin: 15px;
    width: 90%;
    height: 90%;
    
    
}