.login_page{

    background: url('https://images.unsplash.com/photo-1527261834078-9b37d35a4a32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header {
    height: 60px;
    display: flex;
    align-items: center;
    
    position: sticky;
    top: 0;
    z-index: 100;
    justify-content: space-between;
  }
.website_name{  
    margin: 0 20px; 
    }

.Sign_up{
    padding: 10px;
    color:white;
    margin-right:20px ;
    border:1px solid whitesmoke;
    border-radius: 10px;
}
.login_body { 
    display: flex;
    justify-content: flex-end;
    max-width: 1500px;
  }
.login__image { 
    
    width: 100%;
    
    object-fit: contain;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
.login__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border:1px solid whitesmoke;
    margin:100px 100px ;
    padding:50px;
    border-radius: 10px;  
}

.email_box{
  margin: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #0D3450;
  border:1px solid #BBDEFB ;
  border-radius: 10px;
}
.email_icon{
  margin-right: 10px;
}
.email{
  background-color: transparent ;
  border: 0;
  outline: none;
  color: white;
  width: 200px;
}
.username_box{
  margin: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #0D3450;
  border:1px solid #BBDEFB ;
  border-radius: 10px;
}
.username_icon{
  margin-right: 10px;
}
.username{
  background-color: transparent ;
  border: 0;
  outline: none;
  color: white;
  width: 200px;
}
.password_box{
  margin: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #0D3450;
  border:1px solid #BBDEFB ;
  border-radius: 10px;
}
.password_icon{
  margin-right: 10px;
}
.password{
  background-color: transparent ;
  border: 0;
  outline: none;
  color: white;
  width: 200px;
}
.Sign_in{
  display: flex;
 justify-content: center;
}
.submit_button{
  width: 90%;
 
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #0D3450 inset;
  -webkit-text-fill-color: white !important;
}