.playlist{
    margin-top: 10px;
}
.radio{
    width: 95%;
    display: flex;
    justify-content: flex-end;
}
.liked::-webkit-scrollbar {
    display: none;
}

.video_tile{
    margin-bottom: 40px;
    width: 270px;
    margin-right: 20px;
    cursor: pointer;

}
.videocard_thumbnail{
    height:140px;
    width:250px;
}
.playlist_items{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;
}
.music_tile{
    height: 70px;
    cursor: pointer;
    display: flex;
    width: 45%;
    
    margin: 20px;
  
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    
}
.music_tile:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1) !important;
  }
.musicCard_left{
    flex:0.1;
}
.musiccard_thumbnail{
    height:90%;
    width: 80%;
    
}
.musicCard_info{
    flex: 0.6;
}
.musicCard_right{
    flex:0.2;
    align-items: center;
    display: flex;
    justify-content: right;
}
h4{
    overflow: hidden;
    text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
   -webkit-box-orient: vertical;
}
.video_option{
    display: flex;

    align-items: center;
    justify-content: space-between;
}