.search{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;
    margin-top: 20px;  
}
.search::-webkit-scrollbar {
    display: none;
}
.music__tile{
    height: 70px;
    cursor: pointer;
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    
}
.music__tile:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1) !important;
  }
.musicCard__left{
    flex:0.1;
}
.musiccard__thumbnail{
    height:90%;
    width: 80%;
    
}
.musicCard__info{
    flex: 0.6;
}

.musiccard_title{
    overflow: hidden;
    text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; 
   -webkit-box-orient: vertical;
}
.musicCard__right{
    flex:0.2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fav_icon{
    color: red;
}
.icon_button{
    color: white !important;
}