* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
  }
  body {
    background-image: linear-gradient(to right,#7F6AFD,#2C32C8);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }
  .mircophone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
  }
  .microphone-icon-container {
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 20px;
    margin-right: 20px;
    position: relative;
    cursor: pointer;align-items: center;
  }
  .microphone-icon-container.listening::before {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #ffffff81;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) scale(1.4);
    border-radius: 50%;
    animation: listening infinite 1.5s;
  }
  @keyframes listening{
    0%{
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    100%{
      opacity: 0;
      transform: translate(-50%, -50%) scale(1.4);
    }
  }
  .microphone-icon {
    width: 100%;
    height: 100%;
    color: black;
    align-items: center;
  }
  .microphone-status {
    font-size: 22px;
    margin-right: 20px;
    min-width: 215px;
  }
  .btn {
    border: none;
    padding: 10px 30px;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px #ffffff1a;
  }
  .microphone-result-container {
    text-align: center;
    height: 50vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  
  }
  .microphone-result-text {
    margin-bottom: 30px;
    width: 70vw;color: white;
    overflow-y: auto;
  }
  .microphone-reset {
    border: 1px solid #fff;
    background: none;
    color: white;
    width: fit-content;
  }
  .youtube_player{
    display: flex;justify-content: center;
  }
  .home{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .home_header{
    height: 10vh;
  }
  .home_center{
    height: 80vh ;
    display: flex;
  }
  .home_center_left{
    flex:0.2;
    display: flex;
    flex-direction: column;
    
    
  }
  .option{
    cursor: pointer;
    display: flex;
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 10px;
    
  }
  .title{
    padding-left: 20px;
  }
  .home_center_right{
    flex: 0.8 ;
    border:2px solid white;
  }
  