.youtube{display: flex;align-items: center; justify-content: center;}
.youtube_search{color: black; margin: 30px;}
.youtube_button{height: 30px;width: 30px;background-color: blue;color: white;}
.text{color: white;}